In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"ID": [1,2,3,4,5], "VALUES": [f"word_{i}" for i in range(1,6)]})
df

   ID  VALUES
0   1  word_1
1   2  word_2
2   3  word_3
3   4  word_4
4   5  word_5

In [6]:
item = df.iloc[0]

In [8]:
item["ID"]

1